
{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;

  }


body {

  display: grid;
 justify-content: end;
 align-content: end;
 min-height: 100vh;


}

a:link {
  text-decoration: none;
;
  color: white;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
    color: white;
}




.full-img {
  position: relative;
  display: block;
  width: 500px;
  height: 500px;
}

.thumb-bar img {
  display: block;
  width: 19%;
  float: left;
  cursor: pointer;
}




  footer
{
  position: relative;
font-family: 'Oswald', sans-serif;
  height: auto;
  padding: 50px 120px;
  background: #f58c4f;
      width: 96%;


}

footer .container{

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: auto;

}

footer .container .sec h2{

  color: #fff;
  font-weight: 200px;
  margin-bottom: 30px;

  }


.social{
  margin-top: -30px;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  margin-left: 350px;

}


.social li {
    list-style: none;

  }

  .social li a
    {

display: inline-block;
      width: 48px;
      height: 48px;
       background: #54638c;
       align-content: center;
  display: grid;
      justify-content: center;
      text-decoration: none;

  }
  .social li a .fa{
    color: #fff;
    font-size: 20px;
  }

  .social li a:hover{
    background-color: b2b6bf;
  }






button {
  background-color: #54638c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin-left: 90px;
}

button:hover {
  background-color: #798cb5;
}


.copyrighttext{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;

  padding: 8px 100px;
  text-align: center;
  background: #f46721;
  width: 100%;
  color: #fff;
}


  @media (max-width: 991px){

    footer{
      padding: 40px;

    }

    footer .container{
      grid-template-columns: repeat (2,1fr);
          }
    }



  
