.profile{
  display: flex;
  flex-direction: raw;
  justify-content: center;
  align-items: flex-start;

  margin: 100px 100px;

}

.profilepic{
  width: 290px;


}
.introduction h2{

font-family: 'Abril Fatface', cursive;
font-size: 25px;
margin-left: 40px;


}

.navigator{
  text-align: center;

    object-fit: cover;
    object-position: 50% 50%;
    margin-left: 20px;
}
.introduction p{
  font-family: 'Mandali', sans-serif;
  margin-left: 40px;
  margin-bottom: 30px;
}
 .introduction ul{
   font-family: 'Mandali', sans-serif;
   margin-left: 20px;
 }











{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;

  }


body {

  display: grid;
 justify-content: end;
 align-content: end;
 min-height: 100vh;


}

a:link {
  text-decoration: none;
;
  color: white;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
    color: white;
}


.gallery {
  justify-content: center;
  margin: 100px 100px;
}

.bigportfolio {
  position: relative;
  display: block;
  width: 500px;
  height: 500px;
}

.smallbar img {
  display: block;
  width: 17%;
  float: left;
  cursor: pointer;
}




  footer
{
  position: relative;
font-family: 'Oswald', sans-serif;
  height: auto;
  padding: 50px 120px;
  background: #f58c4f;
      width: 100%;


}

footer .container{

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: auto;

}

footer .container .sec h2{

  color: #fff;
  font-weight: 200px;


  }


.social{
  margin-top: -30px;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  margin-left: 100px 100px;
  justify-content: center;

}


.social li {
    list-style: none;

  }

  .social li a
    {

display: inline-block;
      width: 48px;
      height: 48px;

       align-content: center;
  display: grid;

      text-decoration: none;


  }
  .social li a .fa{
    color: #fff;
    font-size: 30px;
  }

  .social li a:hover{
    background-color: b2b6bf;
  }






button {
  background-color: #54638c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin: 100px 100px;
  justify-content: center;
}

button:hover {
  background-color: #798cb5;
}


.copyrighttext{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;

  padding: 8px 100px;
  text-align: center;
  background: #f46721;
  width: 100%;
  color: #fff;
}


  @media (max-width: 991px){

    footer{
      padding: 40px;

    }

    footer .container{
      grid-template-columns: repeat (2,1fr);
          }
    }



  
